{{- $slot := .slot | default "" }}
{{- $context := .context }}

{{- $enabled := true }}
{{- with site.Params.ads }}
  {{- if eq $slot "ad-top" }}             {{ $enabled = .adTop }} {{ end }}
  {{- if eq $slot "ad-bottom" }}          {{ $enabled = .adBottom }} {{ end }}
  {{- if eq $slot "ad-inline" }}          {{ $enabled = .adInline }} {{ end }}
  {{- if eq $slot "ad-tags" }}            {{ $enabled = .adTags }} {{ end }}
  {{- if eq $slot "ad-list-interval" }}   {{ $enabled = .adListInterval }} {{ end }}
  {{- if eq $slot "ad-archive-top" }}     {{ $enabled = .adArchiveTop }} {{ end }} 
{{- end }}

{{- if $enabled }}
  {{- partial (printf "ads/slot-%s.html" $slot) $context }}
{{- end }}
